<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Starter Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">



  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
  <!--<script src ="./js/viewRequest.js"></script> -->
  <script>
    $(document).ready(function() {
          $("th").each(function() {
              var head = $(this);
              head.mouseover(function() {
                  head.css('background-color', '#ccc');
              });
              head.mouseout(function() {
                  head.css('background-color', '#e9ecef');
              });
              head.click(function () {
                  window.location.href = 'http://devcontrolcenter.herokuapp.com/viewRequestsByTools';
              });
          });
        }
    );
  </script>

  <style>
    .table td, .table th {
      padding: 0rem;
      vertical-align: top;
    }
    .table th {
      text-align: center;
    }
    #tab_backup th{
      background-color: #ccc;
    }
    button {
      height: 86px;
      width: 176.125px;
      margin: 1px;
    }
    body {
      padding-top: 5rem;
    }
    .starter-template {
      padding: 3rem 1.5rem;
      text-align: center;
    }
    .btn-done {
      background: lightcoral;
      border-color: lightcoral;
      color: white;
    }
    .btn-queued {
      background: #bbb;
      border-color: #bbb;
      color: white;
    }
    .btn-progress {
      background: lightgreen;
      border-color: lightgreen;
    }
    .btn-hold {
      background: lightsalmon;
      border-color: lightsalmon;
      color: white;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="https://devcontrolcenter.herokuapp.com/">Dev Control Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://devcontrolcenter.herokuapp.com/createRequest">Create Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://devcontrolcenter.herokuapp.com/editRequest">Edit Request</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://devcontrolcenter.herokuapp.com/viewRequests">View Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://devcontrolcenter.herokuapp.com/waferStatus">Request Status</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="starter-template">
    <h1 style = "font-weight: 300"> View Requests</h1>
    <br>
    <div class = "container" >
    <div class = "row">
      <div class = "col-s-12">
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <a id = "dinexString" class="nav-item nav-link active" id="nav-dinex-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-all" aria-selected="true">All</a>
          <a class="nav-item nav-link" id="nav-queued-tab" data-toggle="tab" href="#nav-queued" role="tab" aria-controls="nav-queued" aria-selected="false">Queued</a>
          <a class="nav-item nav-link" id="nav-in_progress-tab" data-toggle="tab" href="#nav-in_progress" role="tab" aria-controls="nav-in_progress" aria-selected="false">In Progress</a>
          <a class="nav-item nav-link" id="nav-hold-tab" data-toggle="tab" href="#nav-hold" role="tab" aria-controls="nav-hold" aria-selected="false">On hold</a>
          <a class="nav-item nav-link" id="nav-done-tab" data-toggle="tab" href="#nav-done" role="tab" aria-controls="nav-done" aria-selected="false">Done</a>

          <form class="form-inline">
            <span>&nbsp</span>
            <span class="badge btn-queued badge-pill">Queued</span><span>&nbsp</span>
            <span class="badge btn-progress badge-pill">In Progress</span><span>&nbsp</span>
            <span class="badge btn-hold badge-pill">On Hold</span><span>&nbsp</span>
            <span class="badge btn-done badge-pill">Done</span><span>&nbsp</span>
          </form>

        </div>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
          <div class="tab-pane fade" id="nav-queued" role="tabpanel" aria-labelledby="nav-queued-tab"></div>
          <div class="tab-pane fade" id="nav-in_progress" role="tabpanel" aria-labelledby="nav-in_progress-tab"></div>
          <div class="tab-pane fade" id="nav-hold" role="tabpanel" aria-labelledby="nav-hold-tab"></div>
          <div class="tab-pane fade" id="nav-done" role="tabpanel" aria-labelledby="nav-done-tab"></div>
            <script>
              var data = <%-JSON.stringify(returnObj)%>;
              console.log(data);
              status = ["All", "Queued", "In Progress", "On Hold", "Done"];
              areas = ["IM", "Anelva", "Photo", "MR", "Metro", "Insp", "CMP", "NiFe/Etch", "Metals"];
              /*creates the header for all*/
              var navhome = document.getElementById("nav-home");
              var table = document.createElement("TABLE");
              table.setAttribute("id","tab_all");
              table.setAttribute("class","table table-borderless");
              var head = table.createTHead();
              head.setAttribute("class","thead-light");
              var row = head.insertRow(0);
              var headNames = areas;
              for(i = 0; i < headNames.length; i++){
                var tableHead = document.createElement("TH");
                tableHead.setAttribute("scope","col");
                tableHead.innerHTML = headNames[i];
                row.appendChild(tableHead);
              }
              blanks = 0;
              rows = 0;
              while(blanks != 9){
                blanks = 0;
                var row = document.createElement("TR");
                for(i = 0; i < areas.length; i++){
                  console.log(areas[i]);
                  console.log(data["All"][areas[i]]);
                  if(data["All"][areas[i]][rows] == null){
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    button.setAttribute("class","btn btn-light");
                    button.setAttribute("style","border-color: white; color:white; background:white");
                    button.disabled = true;

                    cell.appendChild(button);
                    blanks++;
                  }else{
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    var id = data["All"][areas[i]][rows].id;
                    button.setAttribute("buttonId",id);
                    button.onclick = function() {
                        var id = this.getAttribute('buttonId');
                        window.location.href = "requestStatusExample?id=" + id;
                    };
                    //button.setAttribute("onclick", "test();");

                    if(data["All"][areas[i]][rows].status == "Queued"){
                      button.setAttribute("class","btn btn-queued")
                    }else if(data["All"][areas[i]][rows].status == "In Progress"){
                      button.setAttribute("class","btn btn-progress")
                    }else if(data["All"][areas[i]][rows].status == "On Hold"){
                      button.setAttribute("class","btn btn-hold")
                    }else if(data["All"][areas[i]][rows].status == "Done"){
                      button.setAttribute("class","btn btn-done")
                    }
                    var div1 = document.createElement("DIV");
                    div1.innerHTML = "Wafer ID #: " + data["All"][areas[i]][rows].waferId;
                    var div2 = document.createElement("DIV");
                    div2.innerHTML = data["All"][areas[i]][rows].status;
                    var div3 = document.createElement("DIV");
                    div3.innerHTML = "ETA: " + data["All"][areas[i]][rows].date;
                    button.appendChild(div1);
                    button.appendChild(div2);
                    button.appendChild(div3);
                    cell.appendChild(button);
                  }
                }
                rows++;
                table.appendChild(row);
              }
              navhome.appendChild(table);
              /*queued*/
              var navqueued = document.getElementById("nav-queued");
              var table = document.createElement("TABLE");
              table.setAttribute("id","tab_all");
              button.setAttribute("class","btn btn-queued")
              table.setAttribute("class","table table-borderless");
              var head = table.createTHead();
              head.setAttribute("class","thead-light");
              var row = head.insertRow(0);
              var headNames = areas;
              for(i = 0; i < headNames.length; i++){
                var tableHead = document.createElement("TH");
                tableHead.setAttribute("scope","col");
                tableHead.innerHTML = headNames[i];
                row.appendChild(tableHead);
              }
              blanks = 0;
              rows = 0;
              while(blanks != 9){
                blanks = 0;
                var row = document.createElement("TR");
                for(i = 0; i < areas.length; i++){
                  if(data["Queued"][areas[i]][rows] == null){
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    button.setAttribute("class","btn btn-light");
                    button.setAttribute("style","border-color: white; color:white; background:white");
                    button.disabled = true;
                    cell.appendChild(button);
                    blanks++;
                  }else{
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    button.setAttribute("class","btn btn-queued")
                    button.setAttribute("onclick", "window.location = \"localhost:3000/requestStatusExample?id=\" + data[\"Queued\"][areas[i]][rows].id");
                    var div1 = document.createElement("DIV");
                    div1.innerHTML = "Wafer ID #: " + data["Queued"][areas[i]][rows].waferId;
                    var div2 = document.createElement("DIV");
                    div2.innerHTML = data["Queued"][areas[i]][rows].status;
                    var div3 = document.createElement("DIV");
                    div3.innerHTML = "ETA: " + data["Queued"][areas[i]][rows].date;
                    button.appendChild(div1);
                    button.appendChild(div2);
                    button.appendChild(div3);
                    cell.appendChild(button);
                  }
                }
                rows++;
                table.appendChild(row);
              }
              navqueued.appendChild(table);

              /*In progress*/
              var navprogress = document.getElementById("nav-in_progress");
              var table = document.createElement("TABLE");
              table.setAttribute("id","tab_all");
              button.setAttribute("class","btn btn-queued")
              table.setAttribute("class","table table-borderless");
              var head = table.createTHead();
              head.setAttribute("class","thead-light");
              var row = head.insertRow(0);
              var headNames = areas;
              for(i = 0; i < headNames.length; i++){
                var tableHead = document.createElement("TH");
                tableHead.setAttribute("scope","col");
                tableHead.innerHTML = headNames[i];
                row.appendChild(tableHead);
              }
              blanks = 0;
              rows = 0;
              while(blanks != 9){
                blanks = 0;
                var row = document.createElement("TR");
                for(i = 0; i < areas.length; i++){
                  if(data["In Progress"][areas[i]][rows] == null){
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    button.setAttribute("class","btn btn-light");
                    button.setAttribute("style","border-color: white; color:white; background:white");
                    button.disabled = true;
                    cell.appendChild(button);
                    blanks++;
                  }else{
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    button.setAttribute("class","btn btn-progress")
                    //button.setAttribute("onclick", "window.location = \"localhost:3000/requestStatusExample?id=\" + data[\"In Progress\"][areas[i]][rows].id");
                    var div1 = document.createElement("DIV");
                    div1.innerHTML = "Wafer ID #: " + data["In Progress"][areas[i]][rows].waferId;
                    var div2 = document.createElement("DIV");
                    div2.innerHTML = data["In Progress"][areas[i]][rows].status;
                    var div3 = document.createElement("DIV");
                    div3.innerHTML = "ETA: " + data["In Progress"][areas[i]][rows].date;
                    button.appendChild(div1);
                    button.appendChild(div2);
                    button.appendChild(div3);
                    cell.appendChild(button);
                  }
                }
                rows++;
                table.appendChild(row);
              }
              navprogress.appendChild(table);

              /*On Hold*/
              var navhold = document.getElementById("nav-hold");
              var table = document.createElement("TABLE");
              table.setAttribute("id","tab_all");
              button.setAttribute("class","btn btn-queued")
              table.setAttribute("class","table table-borderless");
              var head = table.createTHead();
              head.setAttribute("class","thead-light");
              var row = head.insertRow(0);
              var headNames = areas;
              for(i = 0; i < headNames.length; i++){
                var tableHead = document.createElement("TH");
                tableHead.setAttribute("scope","col");
                tableHead.innerHTML = headNames[i];
                row.appendChild(tableHead);
              }
              blanks = 0;
              rows = 0;
              while(blanks != 9){
                blanks = 0;
                var row = document.createElement("TR");
                for(i = 0; i < areas.length; i++){
                  if(data["On Hold"][areas[i]][rows] == null){
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    button.setAttribute("class","btn btn-light");
                    button.setAttribute("style","border-color: white; color:white; background:white");
                    button.disabled = true;
                    cell.appendChild(button);
                    blanks++;
                  }else{
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    button.setAttribute("class","btn btn-hold")
                    button.setAttribute("onclick", "window.location = \"localhost:3000/requestStatusExample?id=\" + data[\"On Hold\"][areas[i]][rows].id");
                    var div1 = document.createElement("DIV");
                    div1.innerHTML = "Wafer ID #: " + data["On Hold"][areas[i]][rows].waferId;
                    var div2 = document.createElement("DIV");
                    div2.innerHTML = data["On Hold"][areas[i]][rows].status;
                    var div3 = document.createElement("DIV");
                    div3.innerHTML = "ETA: " + data["On Hold"][areas[i]][rows].date;
                    button.appendChild(div1);
                    button.appendChild(div2);
                    button.appendChild(div3);
                    cell.appendChild(button);
                  }
                }
                rows++;
                table.appendChild(row);
              }
              navhold.appendChild(table);

              /*Done*/
              var navdone = document.getElementById("nav-done");
              var table = document.createElement("TABLE");
              table.setAttribute("id","tab_all");
              button.setAttribute("class","btn btn-queued")
              table.setAttribute("class","table table-borderless");
              var head = table.createTHead();
              head.setAttribute("class","thead-light");
              var row = head.insertRow(0);
              var headNames = areas;
              for(i = 0; i < headNames.length; i++){
                var tableHead = document.createElement("TH");
                tableHead.setAttribute("scope","col");
                tableHead.innerHTML = headNames[i];
                row.appendChild(tableHead);
              }
              blanks = 0;
              rows = 0;
              while(blanks != 9){
                blanks = 0;
                var row = document.createElement("TR");
                for(i = 0; i < areas.length; i++){
                  if(data["Done"][areas[i]][rows] == null){
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    button.setAttribute("class","btn btn-light");
                    button.setAttribute("style","border-color: white; color:white; background:white");
                    button.disabled = true;
                    cell.appendChild(button);
                    blanks++;
                  }else{
                    var cell = row.insertCell(i);
                    var button = document.createElement("BUTTON");
                    button.setAttribute("type","button");
                    button.setAttribute("class","btn btn-done");
                    button.click(function() {
                        window.location.href = 'localhost:3000/requestStatusExample?id=' + data["Done"][areas[i]][rows].id;
                    });
                    //button.setAttribute("onclick", "window.location = \"localhost:3000/requestStatusExample?id=\" + data[\"Done\"][areas[i]][rows].id");
                    var div1 = document.createElement("DIV");
                    div1.innerHTML = "Wafer ID #: " + data["Done"][areas[i]][rows].waferId;
                    var div2 = document.createElement("DIV");
                    div2.innerHTML = data["Done"][areas[i]][rows].status;
                    var div3 = document.createElement("DIV");
                    div3.innerHTML = "ETA: " + data["Done"][areas[i]][rows].date;
                    button.appendChild(div1);
                    button.appendChild(div2);
                    button.appendChild(div3);
                    cell.appendChild(button);
                  }
                }
                rows++;
                table.appendChild(row);
              }
              navdone.appendChild(table);


              $('button').each(function() {
                  $(this).click(function() {
                      var id = $(this).attr('buttonid');
                      window.location.href = 'requestStatusExample?id=' + id;
                  });
              });
            </script>

        </div>
      </div>

      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>
